<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 

<body>
    <%- include("./partials/header") %> 

    <main>
        <div class="user-detail container">
            <section class="top main-content">
                <img class="profile" src="<%=usuario.foto%>" alt="">
                <div class="info-usuario">
                    <p><%= usuario.username%></p> 
                    <a class="follow" href="">Seguir</a>
                    <ul class="meta">
                        <li><%=usuario.posteos%> Posts</li>
                        <li><%=usuario.seguidores%> Seguidores</li>
                        <li><%=usuario.seguidos%> Seguidos</li>
                    </ul>
                </div>
            </section>
            <section class="bottom"> 
                <article class="post">
                    <a href="/posteos/detallePost">
                        <img src=" " alt=" ">
                    </a>
                </article> 
              
            </section>
        </div>
    </main>

    <%- include('./partials/footer') %> 
</body>

</html>