<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %> 

<body>
    
<%- include("./partials/header") %> 

    <main>
        <section class="center main-content">
            <% for (let i = 0; i < data.length; i++) { %>
               <article class="post">
                <div class="info-usuario ">
                    <img src="<%= data[i].image_usuario %> " alt="">
                    <h4>
                  <a class="titulopost" href="/users/detalleUsuario/<%=data[i].id%>"><%= data[i].username%>  </a>
                    </h4>
                </div>
                <div class="post-body">
                    <a href="./detallePost.ejs">
                        <img src="<%= data[i].imagen %> " alt="">
                    </a>
                </div>
                <ul class="post-reacciones">
                    <li>
                        <i class="fa-regular fa-heart"></i>
                    </li>
                    <li>
                        <i class="fa-regular fa-comment"></i>
                    </li>
                </ul>
                <div class="post-comentarios">
                    <h4>Comentarios</h4>
                    <ul>
                       <li>
                            <a href="/users/detalleUsuario"></a>
                            <span></span>
                        </li>
                        <a href="/posteos/detallePost">Ver más...</a>
                    </ul>
                    
                </div>
            </article>
           
        </section>    
    </main>

    <%- include('./partials/footer') %> 



</body>

</html>