<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 

<body>
    <%- include("./partials/header") %> 

    <main>
        <div class="user-detail container">
            <section class="top main-content">
                <img class="profile" src="<%= info.foto %> " alt="">
                <div class="info-usuario">
                    <p><%- info.username %> </p> 
                    <a class="follow" href="/users/editarPerfil"><i class="fa-solid fa-user-gear"></i></a>
                    <ul class="meta">
                        <li><%= info.posteos %>  posteos</li>
                        <li><%= info.seguidores %></li>
                        <li><%= info.seguidores %></li>
                    </ul>
                </div>
            </section>
            
            <section class="bottom">
                <% for(let = i, i < posteos.length, i++) {%> 
                <article class="post">
                    <a href="/posteos/detallePost">
                        <img src="<%= posteos[0].imagen %> " alt="">
                        <p><%= posteos[0].pieImagen %> </p>
                    </a>
                </article>
                <% } %> 
            </section>
        </div>
    </main>

    <%- include('./partials/footer') %> 
</body>

</html>