<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 

<body>
    
    <%- include("./partials/header") %> 

    <main>
        <div class="post-detail container">
            <section class="center main-content post">
                <div class="info-usuario">
                    <img src="/img/usuario/<%= posteo.Usuario.foto_perfil %>" alt="">
                    <p><a class="usuario" href="/users/detalleUsuario/<%= posteo.Usuario.id %>"><%= posteo.Usuario.username %></a></p>
                </div>
                <img class="photo" src="/img/post/<%= posteo.imagen %>" alt="">
                <p class="caption"><%= posteo.pie_imagen %> </p>
            </section>
            <section class="right">
                <h4>Comentarios</h4>
                <section class="comments">
                    <% if(locals.usuario) { %>
                        <form action="/posteos/agregarComentario/<%= posteo.id %>" class="comment-form" method="post">
                            <input name="comentario" type="text" class="input" placeholder="Agregar comentario">
                            <button type="submit">Comentar</button>
                        </form>
                    <% } else { %>
                        <form action="/users/login" class="comment-form" method="get">
                            <input name="comentario" type="text" class="input" placeholder="Agregar comentario">
                            <button type="submit">Comentar</button>
                        </form>
                    <% } %>
                    <div>
                        <% for (let i = 0; i < posteo.comentarios.length; i++) { %>
                        <article class="comment">
                            <img src="/img/usuario/<%= posteo.comentarios[i].usuario.foto_perfil %>" alt="">
                            <section class="content">
                                <a class="user" href="/users/detalleUsuario/<%=  posteo.comentarios[i].usuario.id %>"><%=  posteo.comentarios[i].usuario.username %></a>
                                <span class="text"><%= posteo.comentarios[i].comentario %></span>
                            </section>
                        </article>
                        <% } %>
                    </div>
                    <div>
                        <% if(locals.usuario) { %>
                            <% if(locals.usuario.id == posteo.id_usuarios) { %>
                                <a style="color:darkslategrey" href="/posteos/eliminarPosteo/<%= posteo.id %>">Eliminar post</a>
                                <hr>
                                <a style="color:darkslategrey" href="/posteos/editarPosteo/<%= posteo.id %>">Editar post</a>
                            <% } %>
                        <% } %>
                    </div>
                </section>
            </section>
        </div>
    </main>

    <%- include('./partials/footer') %> 
</body>

</html>