<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 

<body>
    <%- include("./partials/header") %> 

    <main>
        <section class="center main-content">
        <h1>Editar perfil</h1>
        <form action="/users/editarPerfil" enctype="multipart/form-data" method="POST">
            <% if (locals.errors) { %>
                <p class="error" style="color:red">
                    <%= locals.errors.message %>
                </p>
            <% } %>
            <div>
                <img class="imgeditarperfil" width="150px" src="/img/usuario/<%= locals.usuario.foto_perfil %>" alt=""> <br><br>
                <label for="pfp">Foto de perfil</label>
                <input type="file" name="foto">
            </div>
            <div>
                <label for="fecha">Fecha de nacimiento</label>
                <input type="date" name="fecha" value="<%= locals.usuario.fecha %> " >
            </div>
            <div>
                <label for="dni">DNI</label>
                <input type="text" name="dni" value="<%= locals.usuario.dni %> " >
            </div>
            <button type="submit">Actualizar</button>
        </form>
        </section>
    </main>

    <%- include('./partials/footer') %> 
</body>

</html>