<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>

        <%- include("./partials/header") %>

            <main>
                <section class="center main-content">
                    <% for (let i=0; i < posteos.length; i++) { %>
                        <article class="post">
                            <div class="info-usuario ">
                                <img src="/img/usuario/<%= posteos[i].Usuario.foto_perfil %> " alt="">
                                <h4>
                                    <a class="titulopost" href="/users/detalleUsuario/<%= posteos[i].Usuario.id %>">
                                        <%= posteos[i].Usuario.username %>
                                    </a>
                                </h4>
                            </div>
                            <div class="post-body">
                                <a href="/posteos/detallePosteo/<%= posteos[i].id %>">
                                    <img class="imgindex" src="/img/post/<%= posteos[i].imagen %>" alt="">
                                    <p class="caption">
                                        <%= posteos[i].pie_imagen %>
                                    </p>
                                </a>
                            </div>
                            <ul class="post-reacciones">
                                <li>
                                    <i class="fa-regular fa-heart"></i>
                                </li>
                                <li>
                                    <i class="fa-regular fa-comment"></i>
                                </li>
                            </ul>
                            <div class="post-comentarios">
                                <h4>Comentarios</h4>
                                <ul>
                                    <% for (let j=0; j < posteos[i].comentarios.length; j++) { %>
                                        <li>
                                            <a href="/users/detalleUsuario/<%= posteos[i].comentarios[j].usuario.id %>">
                                                <%= posteos[i].comentarios[j].usuario.username %>
                                            </a>
                                            <span>
                                                <%= posteos[i].comentarios[j].comentario %>
                                            </span>
                                        </li>
                                    <% } %>
                                    <a class="ver" href="/posteos/detallePosteo/<%= posteos[i].id %>">Ver más...</a>
                                </ul>
                            </div>
                        </article>
                    <% } %>
                </section>
            </main>

            <%- include('./partials/footer') %>



    </body>

</html>