<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 

<body>
    <%- include("./partials/header") %> 

    <main>
        <div class="user-detail container">
            <section class="top main-content">
                <img class="profile" src="/img/usuario/<%= usuario_encontrado.foto_perfil%> " alt="">
                <div class="info-usuario">
                    <p><%- usuario_encontrado.username %> </p> 
                    <% if(locals.usuario != undefined && locals.usuario.id == usuario_encontrado.id) { %>
                        <a class="follow" href="/users/editarPerfil"><i class="fa-solid fa-user-gear"></i></a>
                    <% } %>
                    <ul class="meta">
                        <li><%= usuario_encontrado.Posteos.length %> posteos</li>
                        <li><%= usuario_encontrado.mis_seguidores.length %> seguidores</li>
                        <li><%= usuario_encontrado.mis_seguidos.length %> seguidos</li>
                    </ul>
                </div>
            </section>
            
            <section class="bottom">
                <% for(let i = 0; i < usuario_encontrado.Posteos.length; i++) { %> 
                <article class="post">
                    <a href="/posteos/detallePosteo/<%=usuario_encontrado.Posteos[i].id%>">
                        <img src="/img/post/<%= usuario_encontrado.Posteos[i].imagen %> " alt="">
                        <p class="caption"><%= usuario_encontrado.Posteos[i].pie_imagen %> </p>
                    </a>
                </article>
                <% } %> 
            </section>
        </div>
    </main>

    <%- include('./partials/footer') %> 
</body>

</html>